.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 0px;
    background-color: #4682B4;
    color: #fff;
    }
    .title-center {
    flex: 1 1 auto;
    text-align: center; 
    }