<mat-card class="full-width">
    <!-- Titulo del Card -->
    

    <mat-card-content>
      <mat-card-title>
        <h1>Información</h1>
      </mat-card-title>
<br>
      <!--      -->
      <button mat-raised-button class="boton" matTooltip="Crear Información" aria-label="Crear Información"
      
      style="background-color: steelblue;color:white"
      (click)="crearInformacion()">
      Agregar nueva información
      </button>

    </mat-card-content>
<hr>
    <mat-card-content>
      <div class="mat-elevation-z8" *ngIf="dataSource">
          <!-- Table -->
        <table mat-table 
        class="full-width-table" [dataSource]="dataSource"  matSort
        matSortStart="desc" aria-label="Elements">
         <!-- Columna nombre -->
         <ng-container matColumnDef="id">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Información #</th>
           <td mat-cell *matCellDef="let row">{{row.id}}</td>
         </ng-container>
  
         <!-- Columna titulo -->
         <ng-container matColumnDef="titulo">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
           <td mat-cell *matCellDef="let row">{{row.titulo}}</td>
         </ng-container>

          <!-- Columna tipo -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
          <td mat-cell *matCellDef="let row">{{row.tipo}}</td>
        </ng-container>

         <!-- Columna estado -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let row">{{row.estado}}</td>
        </ng-container>
      
         
         <ng-container matColumnDef="acciones">
           <th mat-header-cell *matHeaderCellDef>Acciones</th>
           <td mat-cell *matCellDef="let row">
             <button
               mat-mini-fab
               matTooltip="Actualizar Información"
               aria-label="Actualizar Información"
               color="primary"
               (click)="actualizarInformacion(row.id)"
             >
               <mat-icon class="mat-18">edit</mat-icon>
             </button>
             <button
               mat-mini-fab
               matTooltip="Detalle Información"
               aria-label="Detalle Información"
               color="primary"
               (click)="detalleInformacion(row.id)"
             >
               <mat-icon class="mat-18">info</mat-icon>
             </button>
           </td>
         </ng-container>
  
         <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
       </table>
  
       <mat-paginator
         #paginator
         [length]="dataSource?.data?.length"
         [pageIndex]="0"
         [pageSize]="5"
         [pageSizeOptions]="[3, 5, 10]"
         aria-label="Seleccione una página"
       >
       </mat-paginator>
        <!-- Table -->
      </div>
    </mat-card-content>
  </mat-card>

