<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
  <div *ngIf="datos">
    <h2 mat-dialog-title>Residencia # {{datos.id}}</h2>
    <mat-dialog-content>
      <p>Cantidad de personas: {{datos.cantidadPersonas}}</p>
      <p>Cantidad de carros: {{datos.cantidadCarros}}</p>
      <p>Año inicio: {{datos.annoInicio}}</p>
      <h4>Estado: {{datos.estado}}</h4>
      <h4>Usuario residente: {{datos.usuario.nombre}}</h4>
      
    </mat-dialog-content>
    <mat-dialog-actions> </mat-dialog-actions>
  </div>
