<mat-card class="dashboard-card" *ngIf="datos">
    <mat-card-header>
      <mat-card-title>Incidencia # {{datos.id}}<b></b></mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <p><b>Usuario: </b>{{datos.usuario.nombre}} {{datos.usuario.apellido1}} {{datos.usuario.apellido2}}</p>
      <p><b>Titulo: </b>{{datos.titulo}}</p>
      <p><b>Descripcion: </b>{{datos.descripcion}}</p>
      <p><b>Estado: </b>{{datos.estado}}</p>
      <p><b>Fecha: </b>{{datos.fecha}}</p>
    </mat-card-content>
  </mat-card>
