<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
  <div *ngIf="datos">
    <h2 mat-dialog-title>{{datos.descripcion}}</h2>
    <mat-dialog-content>
      <p>{{datos.descripcion}}</p>
      <h4>Monto total del plan: {{datos.totalPlan}}</h4>
      <ul *ngIf="datos.rubros">
        <li *ngFor="let item of datos.rubros">{{item.descripcion}} | Precio: {{item.valor}}</li>
      </ul>
    </mat-dialog-content>
    <mat-dialog-actions> </mat-dialog-actions>
  </div>
  