<form [formGroup]="formCreate"  novalidate>
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Crear Usuario </mat-card-title>
      </mat-card-header> 
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" placeholder="Nombre usuario" formControlName="nombre" />
             <mat-error *ngIf="errorHandling('nombre', 'required')">
                Nombre es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Correo</mat-label>
              <input matInput type="text" placeholder="correo usuario" formControlName="correo" />
             <mat-error *ngIf="errorHandling('correo', 'required')">
                Correo es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>contrasenna</mat-label>
              <input matInput [type]="hide ? 'contrasenna' : 'text'" placeholder="contrasenna usuario" formControlName="contrasenna" />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide contrasenna'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
             <mat-error *ngIf="errorHandling('contrasenna', 'required')">
                Password es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field  class="full-width">
              <mat-label>Rol</mat-label>
                <mat-select placeholder="Rol" formControlName="role">
                  <mat-option *ngFor="let r of roles" [value]="r.id">
                    {{ r.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="submitForm()">Registrar</button>
        <button mat-raised-button color="accent" type="reset" (click)="onReset()">Cancelar</button>
      </mat-card-actions>
    </mat-card>
    </form>
    
    