<mat-card class="dashboard-card" *ngIf="datos">
    <mat-card-header>
      <mat-card-title>{{datos.nombre}} </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <p><b>Descripción: </b>{{datos.descripcion}}</p>
      <p><b>Precio: </b>{{datos.precio| currency:'USD'}}</p>
      <p><b>Géneros: </b></p>
      <ul *ngIf="datos.generos">
        <li *ngFor="let item of datos.generos">{{item.nombre}}</li>
      </ul>
    </mat-card-content>
  </mat-card>
  