<p>
  <mat-toolbar>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu1"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Menú</span>
    <!-- Menu #1 -->
    <mat-menu #menu1="matMenu">
      <button
        mat-menu-item
        [routerLink]="'/'"
        routerLinkActive="mat-raised-button"
      >
        Inicio
      </button>

      <button
        mat-menu-item
        [routerLink]="'/plan'"
        [routerLinkActive]="'mat-raised-button'"
      >
        Planes de cobro
      </button>

      <button
        mat-menu-item
        [routerLink]="'/residencia'"
        [routerLinkActive]="'mat-raised-button'"
      >
        Residencias
      </button>

      <button mat-menu-item [matMenuTriggerFor]="menu2">Mantenimientos</button>

      <button
        mat-menu-item
        [routerLink]="'/home/acerca-de'"
        routerLinkActive="mat-raised-button"
      >
        Acerca de
      </button>
    </mat-menu>
    <!-- Menu #2 -->
    <mat-menu #menu2="matMenu">

      <button
      mat-menu-item
      [routerLink]="'/asignacionplan'"
      [routerLinkActive]="'mat-raised-button'"
    >
      Estados de cuenta
    </button>


      <button
        mat-menu-item
        [routerLink]="'/incidencia/all'"
        [routerLinkActive]="'mat-raised-button'"
      >
        Incidencias
      </button>

      <button
        mat-menu-item
        [routerLink]="'/informacion/all'"
        [routerLinkActive]="'mat-raised-button'"
      >
        Información
      </button>

      <button
        mat-menu-item
        [routerLink]="'/plan/all'"
        [routerLinkActive]="'mat-raised-button'"
      >
        Planes de Cobro
      </button>

      <button
        mat-menu-item
        [routerLink]="'/residencia/all'"
        [routerLinkActive]="'mat-raised-button'"
      >
        Residencias
      </button>

      <button
        mat-menu-item
        [routerLink]="'/rubro'"
        [routerLinkActive]="'mat-raised-button'"
      >
        Rubros
      </button>

      

     
    </mat-menu>
  </mat-toolbar>
</p>
