<form [formGroup]="asignacionPlanForm"
  (ngSubmit)="crearAsignacionPlan()"
  novalidate
>
  <input type="hidden" formControlName="id" />
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        <h1 style="color: white">Agregar Nuevo Plan</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <hr />
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="ID Residencia" formControlName="idResidencia">
            <mat-error *ngIf="asignacionPlanForm.controls['idResidencia'].hasError('required')">
                ID idResidencia es <strong>requerido</strong>
            </mat-error>
           
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col" *ngIf="planList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Plan" formControlName="idPlan">
              <mat-option *ngFor="let item of planList" [value]="item.id">
                {{ item.descripcion }} | ₡ {{ item.totalPlan }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="asignacionPlanForm.controls['idPlan'].hasError('required')"
            >
              Descripcion es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col" *ngIf="planList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Mes" formControlName="mes">
              <mat-option [value]="'Enero'">
                Enero
              </mat-option>
              <mat-option [value]="'Febrero'">
                Febrero
              </mat-option>
              <mat-option [value]="'Marzo'">
                Marzo
              </mat-option>
              <mat-option [value]="'Abril'">
                Abril
              </mat-option>
              <mat-option [value]="'Mayo'">
                Mayo
              </mat-option>
              <mat-option [value]="'Junio'">
                Junio
              </mat-option>
              <mat-option [value]="'Julio'">
                Julio
              </mat-option>
              <mat-option [value]="'Agosto'">
                Agosto
              </mat-option>
              <mat-option [value]="'Septiembre'">
                Septiembre
              </mat-option>
              <mat-option [value]="'Octubre'">
                Octubre
              </mat-option>
              <mat-option [value]="'Noviembre'">
                Noviembre
              </mat-option>
              <mat-option [value]="'Diciembre'">
                Diciembre
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="estado">
            <mat-label>Estado</mat-label>
            <mat-radio-button value="Aprobado">Pendiente</mat-radio-button>
            <mat-radio-button value="Rechazado">Pagado </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <hr />
      <br />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
    <!--<mat-card-actions>
        <button mat-raised-button color="primary" (click)="buscarAsignacionPlan()">Validar asignacionPlan</button>
      </mat-card-actions>-->
  </mat-card>
  <br />
</form>
<br />
