mat-card {
  max-width: 500px;
  margin: 2em auto;
  text-align: left;
  background: #4682b4;
}

mat-card-title {
  color: #fff;
  
}

mat-card-content{
    color: #fff;
}

mat-card-header{
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
}

.grid-container {
  margin: 30px;
}

.mat-h1{
text-align: center;
color: steelblue;
font-weight: bold;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: steelblue;
  color: white
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
