<form
  [formGroup]="asignacionPlanForm"
  (ngSubmit)="crearAsignacionPlan()"
  novalidate
>
  <input type="hidden" formControlName="id" />
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        <h1 style="color: white">{{ titleForm }} asignacionPlan</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col" *ngIf="residenciaList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Residencia" formControlName="idResidencia">
              <mat-option *ngFor="let item of residenciaList" [value]="item.id">
                {{ item.id }} 
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="asignacionPlanForm.controls['idResidencia'].hasError('required')"
            >
              Descripcion es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col" *ngIf="planList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Plan" formControlName="idPlan">
              <mat-option *ngFor="let item of planList" [value]="item.id">
                {{ item.descripcion }} | {{ item.total }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="asignacionPlanForm.controls['idPlan'].hasError('required')"
            >
              Descripcion es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col" *ngIf="planList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Mes" formControlName="mes">
              <mat-option [value]="'Enero'">
                Enero
              </mat-option>
              <mat-option [value]="'Febrero'">
                Febrero
              </mat-option>
              <mat-option [value]="'Marzo'">
                Marzo
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <hr />

      
      <hr />
      <br />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
    <!--<mat-card-actions>
        <button mat-raised-button color="primary" (click)="buscarAsignacionPlan()">Validar asignacionPlan</button>
      </mat-card-actions>-->
  </mat-card>
  <br />
</form>
<br />
