<div class="grid-container">
    <h1 class="mat-h1">Planes Disponibles</h1>
    <mat-grid-list [cols]="3" rowHeight="12em" gutterSize="10px" *ngIf="datos" >
      <mat-grid-tile  *ngFor="let item of datos">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
             {{item.descripcion}}
             
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <ul>
              <li style="text-align: left;">Plan para Residencias</li> 
              <li style="text-align: left;">Monto Total: {{item.totalPlan}}</li>           
     </ul>
            
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button
            mat-mini-fab color="accent"
            matTooltip="Detalle Videjuego"
            aria-label="Detalle Videjuego"
            color="primary"
            (click)="detallePlan(item.id)"
          > 
          <mat-icon class="mat-18">info</mat-icon>
          </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
