<div class="grid-container">
  <h1 class="mat-h1" style="color:steelblue">Residencias</h1>
  <img src="https://thumbs.dreamstime.com/b/conjunto-de-casas-rurales-edificios-suburban-street-home-rural-country-aislados-dibujos-animados-iconos-vector-condominio-219541452.jpg" alt="Texto alternativo de la imagen" width="800" height="100">
  <br>
  <div>
  <h2>
  <button
  
            mat-mini-fab
            color="primary"
            matTooltip="Actualizar Residencia"
            aria-label="Actualizar Residencia"
            (click)="mantenimientoResidencia()">
            <mat-icon class="mat-18">add</mat-icon>
          </button>
          Administrar Residencias
        </h2>
        </div>
        <br> 
        <hr>
        <br>      
  <mat-grid-list [cols]="3" rowHeight="12em" gutterSize="10px" *ngIf="datos">
    <mat-grid-tile *ngFor="let item of datos">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> Residencia # {{ item.id }} </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

<ul>
         <li>Usuario residente: {{ item.usuario.nombre }}</li> 
          <li>Cantidad de personas: {{item.cantidadPersonas}}</li>
</ul>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>

          <button
            mat-mini-fab
            color="primary"
            matTooltip="Detalle Residencia"
            aria-label="Detalle Residencia"
            (click)="detalleResidencia(item.id)">
            <mat-icon class="mat-18">info</mat-icon>
          </button>

          <button
            mat-mini-fab
            color="primary"
            matTooltip="Actualizar Residencia"
            aria-label="Actualizar Residencia"
            (click)="agregarPlan(item.id)">
            <mat-icon class="mat-18">add</mat-icon>
          </button>



        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
